body {
    background-image: url(../assets/background/pkmn_pixel_background-2791.jpg);
    background-repeat: repeat-x;;
    background-color:rgb(125, 172, 116);
    background-position: top;
    font-family: verdana;
    color: rgba(55, 31, 18);
    
}

header {
    padding: 2em;
}


#create-land-form {
    text-align: center;
    padding: 3em;
    font-weight: bold;
    color: rgba(55, 31, 18);
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: .5em;

}
table {
    margin-left: auto;
    margin-right: auto;
}

#land-selection {
    margin-top: 3.5em;
    text-align: center;
}

#land-plot {
    background-color:rgb(125, 172, 116);
    padding: 1em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

#land-name-location-heading {
    padding: 1em;
    font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.land-plot-squares {
    background-image: url(../assets/background/NH-Island_Designer-Dark_dirt_path.png);
    padding: .5em;
    height: 100px;
    width: 100px;
}

#land_plot_icon {
    font-weight: bold;
    display: inline-block;
    padding: .5em;
    opacity: .7;
}
#land_plot_icon:hover, #land_plot_icon:focus-within {
    opacity: 1;
    
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
}



#land-plot-icon-image {
    height: 100px;
    width: 125px;
} 

#flower-selection {
    text-align: center;
    margin: 0;
    
}

#all-colors-selection {
    text-align: center;
    height: 100px;
    width: 100%;
    padding-bottom: 2em;
}

.main-flower-card {
    display: inline-block;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    

}

.main-flower-card:hover {

    color:white;
    opacity: .7;
}

.selection-flower-card {
    display: inline-block;
    padding: .5em;
    text-align: center;
    font-weight: bold;
}



.button-container {

    padding-bottom: 1em;
    
}
.button-container:hover {
    opacity: .7;
}

/* div > div.all-colors {

} */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
