body {
    background-image: url(../assets/background/pkmn_pixel_background-2791.jpg);
    background-repeat: repeat-x;;
    background-color:rgb(125, 172, 116);
    background-position: top;
    font-family: verdana;
    color: rgba(55, 31, 18);
    
}


form {
    text-align: center;
    padding: 2em;
    font-weight: bold;
    color: rgba(55, 31, 18);
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: .5em;

}
table {
    margin-left: auto;
    margin-right: auto;
}
#land-plot {
    background-color:rgb(125, 172, 116);
    padding: 2em;
}

.land-plot-squares {
    background-image: url(../assets/background/NH-Island_Designer-Dark_dirt_path.png);
    height: 100px;
    width: 100px;
    padding: .5em;
}

#flower-selection {
    text-align: center;
    margin: 0;
    
}

#all-colors-selection {
    text-align: center;
    height: 100px;
    width: 100%;
}

.main-flower-card {
    display: inline-block;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    margin-top: 12em;

}

.main-flower-card:hover {

    color:white;
    opacity: .7;
}

.selection-flower-card {
    display: inline-block;
    padding: .5em;
    text-align: center;
    font-weight: bold;
}



.button-container {

    padding-bottom: 1em;
    
}
.button-container:hover {
    opacity: .7;
}

/* div > div.all-colors {

} */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
